<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Directors</title>
</head>
<body>
<h1>Directors List</h1>
<table>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">DirectorFIO</th>
        <th scope="col">Position</th>
        <th scope="col">FilmIDs</th>
    </tr>
    <tr th:each="director : ${directors}">
        <td th:text="${director.id}"></td>
        <td th:text="${director.directorFIO}"></td>
        <td th:text="${director.position}"></td>
        <td th:text="${director.filmIDs}"></td>
    </tr>
</table>
</body>
</html>