<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Режиссеры</title>
</head>

<body>
<div layout:fragment="content">
    <h3>Список режиссеров</h3>

    <div class="row">
        <div class="col">
            <a href="view/add"
               sec:authorize="isAuthenticated() && (hasRole('ADMIN'))"
               class="btn btn-secondary"
               role="button"
               style="float: right"
               aria-disabled="true">Добавить режиссера</a>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <!--    <th scope="col">[filmId]</th>-->
            <th scope="col">[ФИО режиссера]</th>
            <th scope="col">[Описание]</th>
            <th scope="col">[Фильмы]</th>
            <th scope="col"></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="director : ${directors}">
            <!--    <td th:text="${director.filmId}"></td>-->
            <td th:text="${director.getDirectorFIO()}"></td>
            <td th:text="${director.getDescription()}"></td>
            <td th:each="film : ${director.getFilms().entrySet()}">
                <a class="text-link text-blue" th:href="'/films/view/' + ${film.getKey()}" th:text="${film.getValue()}"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>