<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
    <!--    <script th:inline="javascript">-->
    <!--        let flag = [[${exception}]];//переменная-флаг в thymeleaf-->
    <!--        window.onload = () => {-->
    <!--            if (flag) new bootstrap.Modal(document.getElementById('deleteErrorModal'), {keyboard: false}).show()-->
    <!--        };-->
    <!--    </script>-->
</head>

<body>
<div layout:fragment="content">
    <!--    <div>-->
    <!--        <hr class="hr"/>-->
    <!--        <h3>Поиск фильма</h3>-->
    <!--        <form method="POST" th:action="@{/films/search}" th:object="${userSearchForm}">-->
    <!--            <div class="mt-0 row g-2">-->
    <!--                <div class="col-md">-->
    <!--                    <div class="form-floating">-->
    <!--                        <input name="filmTitle" type="text" class="form-control" id="filmTitle"-->
    <!--                               placeholder="Название фильма">-->
    <!--                        <label for="filmTitle">Название фильма</label>-->
    <!--                    </div>-->
    <!--                </div>-->

    <!--                <div class="col-md">-->
    <!--                    <div class="form-floating">-->
    <!--                        <input name="directorFio" type="text" class="form-control" id="directorFIO"-->
    <!--                               placeholder="ФИО автора">-->
    <!--                        <label for="directorFIO">Продюссер</label>-->
    <!--                    </div>-->
    <!--                </div>-->

    <!--                <div class="col-md">-->
    <!--                    <div class="form-floating">-->
    <!--                        <select class="form-select" name="genre" id="genre">-->
    <!--                            <option selected th:value="null">Выберете жанр из списка</option>-->
    <!--                            <option th:each="genre : ${T(ru.homework.hometask07.model.Genre).values()}"-->
    <!--                                    th:value="${genre}" th:text="${genre.getGenreTextDisplay()}"></option>-->
    <!--                        </select>-->
    <!--                        <label for="genre">Жанр</label>-->
    <!--                    </div>-->
    <!--                </div>-->

    <!--                <div class="row g-2">-->
    <!--                    <button type="submit" class="btn btn-secondary">Найти фильм</button>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </form>-->
    <!--    </div>-->
    <hr class="mt-3 hr"/>
    <div class="mt-5">
        <div class="row">
            <div class="col">
                <h2>Все пользователи</h2>
            </div>
            <div class="col">
                <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MANAGER'))"
                   th:href="@{/users/registration}"
                   class="btn btn-success"
                   role="button"
                   style="float: right"
                   aria-disabled="true">Добавить пользователя</a>
            </div>
        </div>
        <div>
            <table class="table table-hover mt-3">
                <thead>
                <tr>
                    <th scope="col">[Логин]</th>
                    <th scope="col">[ФИО]</th>
                    <th scope="col">[E-mail]</th>
                    <th scope="col">[Телефон]</th>
                    <th scope="col">[День рожденья]</th>
                    <th scope="col">[Режиссеры]</th>
                    <th scope="col">[Удален?]</th>
                    <th scope="col"></th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="user : ${users}">
                    <td>
                        <a th:href="'/users/registration/profile/' + ${#authentication.getPrincipal().getUserId()}"
                           th:text="${user.getLogin()}"></a>
                    </td>
                    <td th:text="${user.getFirstName()} + ' ' + ${user.getMiddleName()} + ' ' + ${user.getLastName()}"></td>
                    <td th:text="${user.getEmail()}"></td>
                    <td th:text="${user.getPhone()}"></td>
                    <td th:text="${user.getBirthDate()}"></td>
                    <td th:text="${user.isDeleted()}"></td>
                    <td>
                        <!--                        <a class="text-link text-blue" th:if="${book.getOnlineCopyPath()} != null" th:href="@{|/books/download?bookId=${book.id}|}">-->
                        <!--                            <span>Скачать книгу</span>-->
                        <!--                        </a>-->
                    </td>
                    <td>
                        <div sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('ЬФ'))">
                            <!--                            <a class="btn btn-sm btn-outline-success" th:href="'/users/view/update/' + ${film.getId()}">Обновить</a>-->
                            <a th:if="${!user.isDeleted()}" class="btn btn-sm btn-outline-danger"
                               th:href="'/users/registration/delete/' + ${user.getId()}"
                               onclick="return confirm('Вы действительно хотите удалить пользователя?')">Удалить</a>
                            <a th:if="${user.isDeleted()}" class="btn btn-sm btn-outline-warning"
                               th:href="'/users/registration/restore/' + ${user.getId()}">Восстановить</a>
                        </div>
                        <!--                        <a sec:authorize="!hasRole('ADMIN')" class="btn btn-sm btn-outline-success"-->
                        <!--                           th:href="'/rent/films/' + ${film.getId()}">Купить фильм</a>-->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--        &lt;!&ndash;Модальное окно для ошибок старт&ndash;&gt;-->
    <!--        <div th:if="${exception != null && exception != ''}" class="modal fade" id="deleteErrorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
    <!--            <div class="modal-dialog">-->
    <!--                <div class="modal-content">-->
    <!--                    <div class="modal-header">-->
    <!--                        <h5 class="modal-title" id="exampleModalLabel">Ошибка</h5>-->
    <!--                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
    <!--                    </div>-->
    <!--                    <div class="modal-body" th:text="${exception}">-->
    <!--                    </div>-->
    <!--                    <div class="modal-footer">-->
    <!--                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        &lt;!&ndash;Модальное окно для ошибок конец&ndash;&gt;-->
    <div>
        <nav aria-label="Pagination" th:if="${users.totalPages gt 0}">
            <ul class="pagination justify-content-center font-weight-bold">
                <li class="page-item" th:classappend="${users.number eq 0} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/users/registration/viewall?page={id}(id=${users.number lt 2 ? 1 : users.number})}"
                       aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${i eq users.number + 1} ? 'active'"
                    th:each="i : ${#numbers.sequence( 1, users.totalPages, 1)}">
                    <a class="page-link" th:href="@{/users/registration/viewall?page={id}(id=${i})}" th:text="${i}"
                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                </li>
                <li class="page-item" th:classappend="${users.number eq users.totalPages - 1} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/users/registration/viewall?page={id}(id=${users.number + 2})}"
                       aria-label="Next" title="Next Page" data-toggle="tooltip">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

</div>
</body>
</html>

<!--TODO добавить страницу фильма(добавить ссылку на кинопоиск или описание ручное)-->